@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lato:wght@300&family=Montserrat:wght@200;300&family=Outfit:wght@200&family=Poppins:wght@100;300;400&family=Roboto:wght@300;400&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all 0.2s linear;
  }
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    cursor: pointer;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    background: none;
    color: black;
  }
  .btn:hover {
    background-color: orange;
    color: #fff;
  }